.logo-page {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  min-height: 20vh;
  background-color: var(--color-secondary);

  @media only screen and (max-width: $bp-medium) {
    margin: 2.4rem 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  @media only screen and (max-width: $bp-small) {
    margin: 2.4rem 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 0.5fr;
  }

  &:hover .logo-page--images:not(:hover) {
    filter: grayscale(100%);
    opacity: 0.75;
  }

  &--images {
    width: 50%;
    height: 50%;
    transition: 0.3s;
  }

  &--template {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    // filter: grayscale(100%);
  }

  &__1 {
    grid-area: 1 / 1 / 2 / 2;

    display: flex;
    align-items: center;
    justify-content: center;

    &--image {
      @extend .logo-page--template;
      background-image: url("../src/assets/vue-logo.png");
      background-size: contain;
    }
  }

  &__2 {
    grid-area: 1 / 2 / 2 / 3;

    display: flex;
    align-items: center;
    justify-content: center;

    &--image {
      background-image: url("../src/assets/react.png");
      background-size: contain;
      @extend .logo-page--template;
    }
  }

  &__3 {
    grid-area: 1 / 3 / 2 / 4;

    display: flex;
    align-items: center;
    justify-content: center;

    &--image {
      @extend .logo-page--template;
      // background-image: url("../src/assets/js.png");
      background-image: url("../src/assets/laravel.png");
      background-size: contain;

      @media only screen and (max-width: $bp-small) {
        background-image: url("../src/assets/laravel-icon.png");
      }
    }
  }

  &__4 {
    grid-area: 1 / 4 / 2 / 5;

    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $bp-medium) {
      grid-area: 2 / 1 / 3 / 2;
    }

    &--image {
      @extend .logo-page--template;
      background-image: url("../src/assets/sass.png");
      background-size: 70%, 25%, 25%;

      @media only screen and (max-width: $bp-medium) {
        background-size: 65%, 25%, 25%;
      }

      @media only screen and (max-width: $bp-mobile) {
        background-size: 95%, 25%, 25%;
      }
    }
  }

  &__5 {
    grid-area: 1 / 5 / 2 / 6;

    display: flex;
    align-items: center;
    justify-content: center;

    &--image {
      @extend .logo-page--template;
      background-image: url("../src/assets/css-3.png");
      background-size: contain;
    }

    @media only screen and (max-width: $bp-medium) {
      background-size: contain;
      grid-area: 2 / 2 / 3 / 3;
    }
  }

  &__6 {
    grid-area: 1 / 6 / 2 / 7;

    display: flex;
    align-items: center;
    justify-content: center;

    &--image {
      @extend .logo-page--template;
      background-image: url("../src/assets/php.png");
      background-size: contain;
    }

    @media only screen and (max-width: $bp-medium) {
      background-size: contain;
      grid-area: 2 / 3 / 3 / 4;
    }
  }
}
